<section class="services-section">
  <div class="card-group" style="height: 100%;">
    <div class="card card-personal">
      <div class="view">
        <img class="card-img-top" src="assets/img/services/PatchManagement1.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
        <p class="card-text">Patch management is the process that helps acquire, test and install multiple patches 
          (code changes) on existing applications and software tools on a computer, enabling systems to stay updated 
          on existing patches and determining which patches are the appropriate ones. Managing patches thus becomes
           easy and simple.</p>
      </div>
      <div class="card-footer" style="text-align: center">
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
    <div class="card">
      <div class="view">
        <img class="card-img-top" src="assets/img/services/ilm1.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center"><strong>Backup, Restore, ILM</strong></h5>
        <p class="card-text">ILM includes every phase of a "record" from its beginning to its end. And while it is
           generally applied to information that rises to the classic definition of a record (and thus related to 
           records management), it applies to all informational assets. During its existence, information can become 
           a record by being identified as documenting a business transaction or as satisfying a business need. </p>
      </div>
      <div class="card-footer" style="text-align: center">
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
    <div class="card">
      <div class="view">
        <img class="card-img-top" src="assets/img/services/IaContactCenter1.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center"><strong>IA Contact Cente</strong></h5>
        <p class="card-text">Contact Center AI combines the best of Google AI with the most popular contact center
           software to improve both customer experience and operational efficiency. The result? A more personalized 
           and intuitive customer service from the first "Hello".</p>
      </div>
      <div class="card-footer" style="text-align: center">
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
    <div class="card">
      <div class="view">
        <img class="card-img-top" src="assets/img/services/schedule1.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center"><strong>Schedule</strong></h5>
        <p class="card-text">Meet the personal assistant for your schedule--only better--that works 24/7 behind
           the scenes to fill your calendar and take work off your plate. From the moment clients book with you,
            Acuity¿s there to automatically send branded & customized booking confirmations, deliver text reminders,
             let `em reschedule on their own, and process payments so your day-to-day runs smoother even as business
              gets busier. All you need to do is show up at the right time</p>
      </div>
      <div class="card-footer" style="text-align: center">
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
    <div class="card">
      <div class="view">
        <img class="card-img-top" src="assets/img/services/rp1.png" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center"><strong>RP</strong></h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer" style="text-align: center">
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
</section>
